<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>SuperAdmin | Design Your Delta</title>

    <!-- import the webpage's stylesheet -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/style.css" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="//cdn.jsdelivr.net/npm/pouchdb@7.2.1/dist/pouchdb.min.js"></script>

    <!-- import the webpage's javascript file -->
  </head>
  <body>
    <h1>
      Super Admin Page
    </h1>
    <br />
    {% if user %} Hello {{user.displayName}} ({{user._id}}) {% if user.role ===
    "admin" or user.role==="superadmin" %} |
    <a href="editor.html">Admin Page</a> {% endif %} {% if user.role ===
    "superadmin" %} | <a href="index.html">DeltaPage</a> {% endif %} | Click
    here to
    <a href="/logout">logout</a>
    {% else %}
    <a href="/auth/google">login with google</a>
    {% endif %}

    <br />

    <h2>
      Create a new Org:
    </h2>
    <label for="neworgname">Org Name:</label>
    <input id="neworgname" class="neworgname" type="text" size="40" />
    <button class="addorg">
      Add Organization
    </button>

    <template id="orgInList">
      <div class="orgdiv">
        <h2 data-text="name"></h2>
        Current Admin is: <span class="adminName"></span><br />
        <span class="selectAdmin">
          <select class="adminSelect">
            <option value="">Set Admin</option>
          </select></span
        >
        <button class="setAdmin">Set to Admin</button>
        <br />
        <div class="orgusers">
          <h3>
            Members:
          </h3>
          <ul class="orguserslist"></ul>
          <h3>
            Add Member:
          </h3>
          <select class="addUser">
            <option value="">Select Member to Add:</option>
          </select>
          <button class="addUserButton">Add Member</button>
        </div>

        <button class="deleteorg confirmfirst">Delete This Org</button><br />
      </div>
    </template>

    <div class="useTemplate orgList" data-row-template="orgInList"></div>

    <div
      id="myModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="myModalLabel3"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            ></button>
            <h3 id="myModalLabel3">You sure about this?</h3>
          </div>
          <div class="modal-body" id="modalText">
            <p></p>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">
              Cancel
            </button>
            <button class="btn-primary btn" id="SubForm">
              Confirm and Go Ahead!
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/7.2.2/pouchdb.min.js"
      integrity="sha512-2Uc5uGzoGNFBmgURVIs1QZagEEt0rgJrSEcAXwP6c5EA6xGEyTQ1iViZO+CAR804xTHiAMIKFq+rxlJpurDZfQ=="
      crossorigin="anonymous"
    ></script>
    <script src="/flowtype.js"></script>
    <script src="/dataset.js" defer></script>
    <script src="/setup.js" defer></script>
    <!--    <script src="/radar_funcs.js" defer></script>
    <script src="/script.js" defer></script>-->
    <script src="/superadmin_script.js" defer></script>
    <script src="/db_stuff.js" defer></script>
  </body>
</html>
